<div class='mt-5 p-3'>
   
    <div>
        <h4>
            Contact Numbers: <br>
            <i class="fas fa-phone-alt"></i> +91 8888899999 <br>
            <i class="fas fa-phone-alt"></i> +91 9999988888 <br>
            <i class="fas fa-at"></i> flipzon@helpdesk.com <br>
            <i class="fas fa-map-marker-alt"></i> Regional Offices: <br>
            Hyd | Mumbai | Delhi <br>
            <i class="fas fa-globe-africa"></i> Global Offices: <br>
            New York | Sydney | Paris
        </h4>
      <br>
      <h4>
          For Queries: <br>
          <i class="fas fa-phone-alt"></i>+91 9876543210 <br>
          <i class="fas fa-at"></i> flipzontechnologies@helpdesk.com <br>
          <i class="fas fa-map-marker-alt"></i> Office Address: <br>
          FlipZon technologies, Madhapur, Hyderabad, 500081
      </h4>
    </div>
</div>