/* You can add global styles to this file, and also import other style files */
body{
    background-image: url('https://d33wubrfki0l68.cloudfront.net/8d79b89491cf9ef958be1386776dc937d39266be/1a630/img/particle_background.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
}